<% if resource.errors.any? %>
  <div>
      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <p class="alert alert-info " ><span ><%= message %></span></p>
      <% end %>
    </ul>
  </div>
<% end %>
