<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome To Eshop!</h1>
    
    <p>To log in when visiting our site just click <a href="http://localhost:3000/users/sign_in" >Login</a> at the top of every page, and then enter your email address and password.</p>
      <div class="jumbotron p-0">        
        <div class="container ">
            <p class="p-0 m-0" >Email: <%= @user.email %></p>
            <p class="p-0 m-0" >Password: <%= @user.password %></p>
        </div>
      </div>
    <h6>Click on the link for Subscribing <button style="font-size: 0.5rem;"><a href="http://localhost:3000/newsletters/unsubscribe?email=<%=@newsletter.email%>" class="btn btn-primary " style="font-size: 0.5rem;">Unsubscribe</a></button></h6>
  </body>
</html>

