<section id="slider"><!--slider-->
    <div class="container"> 
        <div class="row">
            <div class="col-sm-12 text-center pt-5 m-5">  
                <div class="carousel-inner ">
                    <div class="carousel-item active ">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="1500">
                            <div class="carousel-inner">
                                <% @banners.each do |banner| %>
                                    <div class="carousel-item <%= "active" if banner == @banners.first %>">
                                        <div class="col-sm-6 ">
                                            <h1><span>E</span>-SHOP</h1>
                                            <h2>Free Delivery above $500</h2>
                                            <p>Avail the offer now, it is availble for limited period of time , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                            <button type="button" class="btn btn-default get">Get it now</button>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <%= image_tag url_for(banner.image),height:"250"%>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <a class="left control-carousel hidden-xs" data-slide="prev" data-target="#carouselExampleControls">
                                <i class="fa fa-angle-left" ></i>
                            </a>
                            <a class="right control-carousel hidden-xs" data-slide="next" data-target="#carouselExampleControls">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->



