                  
<div class="col-md-12">
    <h2 class="text-center heading m-4" >You Order's Current Status Is</h2>
</div>  

<div class="form-group form-primary my-5">
    <h2 class="text-center heading m-4" style="color:#525e44" > <%= @status.upcase %></h2>                                  
</div>                    

