<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome To Eshop! Admin</h1>
    
    <p>To log in when visiting our site just click <a href="http://localhost:3000/users/sign_in" >Login</a> at the top of every page, and then enter your email address and password.</p>
      <div class="jumbotron p-0">        
        <div class="container ">
            <p class="p-0 m-0" >Email: <%= @email %></p>
        </div>
      </div>
  </body>
</html>

