<section>
	<div class="container">
  <h1 class="display-5 text-center">Category - <%= @category.name.capitalize%> </h1>
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<!--left side bar -->
					<%= render 'shared/sidebar' %>
					<!--left side bar -->
					<div class="shipping text-center mb-5"><!--shipping-->
						<%= image_tag 'shipping.jpg', class:"img-responsive" %>
					</div><!--/shipping-->
					
				</div>
			</div>
			
			<div class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->

					<%= render 'shared/features' %>
					<%# 						
					<ul class="pagination">
						<li class="active"><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">&raquo;</a></li>
					</ul> %>
				</div><!--features_items-->
			</div>
		</div>
	</div>
</section>